*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image/Capture.PNG);
    background-size: cover;
}

.table-container {
    width: 250px;
    margin-top: 8%;
    margin-left: 25%;
    padding: 20px;
    border: 4px dashed #333333de;
    border-radius: 10px;
    background-color:  rgba(253, 249, 206, 0.938);
    opacity: 0.7;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
    color: #c43613;
    font-size: 25px;
    margin-bottom: 25px;
}

.table-row {
    margin: 10px ;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
}

@media (max-width: 480px){
    .table-container {
       height: 100%;
       margin-top: 50%;  
    }   
}
